<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<defaultDocument>
           <files>
               <clear />
               <add value="index.php" />
           </files>
       </defaultDocument>
       <rewrite>
           <rules>
               <!-- HTTPS Redirect -->
               <rule name="HTTP to HTTPS" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions>
                       <add input="{HTTPS}" pattern="^OFF$" />
                   </conditions>
                   <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
               </rule>

               <!-- Block Gambling Sites -->
               <rule name="Block Gambling Referrers" stopProcessing="true">
                   <match url=".*" />
                   <conditions>
                       <add input="{HTTP_REFERER}" pattern="(slot-online|gacor|rtp-slot|judi-slot|slot88|maxwin|anti-rungkad|bosku|totoslot|dewa365|pragmaticplay|spadegaming|habanero|joker123|ioncuan|mpo007)" />
                   </conditions>
                   <action type="CustomResponse" statusCode="403" />
               </rule>

               <rule name="Block Gambling Query Strings" stopProcessing="true">
                   <match url=".*" />
                   <conditions>
                       <add input="{QUERY_STRING}" pattern="(slot|gacor|rtp|judi|maxwin|toto)([^a-z]|$)" />
                   </conditions>
                   <action type="CustomResponse" statusCode="403" />
               </rule>

               <rule name="Block Gambling Bots" stopProcessing="true">
                   <match url=".*" />
                   <conditions>
                       <add input="{HTTP_USER_AGENT}" pattern="(SlotMachine|BotJudi|GacorScanner|DewaLive)" />
                   </conditions>
                   <action type="CustomResponse" statusCode="403" />
               </rule>

               <!-- Laravel Rules -->
               <rule name="Laravel Force public">
                   <match url="(.*)" ignoreCase="false" />
                   <action type="Rewrite" url="public/{R:1}" />
               </rule>
               <rule name="Laravel Routes" stopProcessing="true">
                   <conditions>
                       <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                       <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                   </conditions>
                   <match url="^" ignoreCase="false" />
                   <action type="Rewrite" url="public/index.php" />
               </rule>
           </rules>
       </rewrite>
       <httpProtocol>
           <customHeaders>
               <add name="Content-Security-Policy" value="default-src 'self'; frame-src 'none'; frame-ancestors 'self'; form-action 'self'" />
           </customHeaders>
       </httpProtocol>
    </system.webServer>
</configuration>
