<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite Head PHP to Blade" stopProcessing="true">
                    <match url="^head\.php$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="head.blade.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>